<header class="bg-blue-600 text-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-4 h-16 flex justify-between items-center">
    <a
      routerLink="/"
      class="text-2xl font-bold tracking-tight hover:text-blue-100 transition cursor-pointer"
    >
      Mini market
    </a>

    <nav class="flex items-center gap-6">
      <a routerLink="/" class="hover:text-blue-200 font-medium">Asosiy</a>
      <a routerLink="/reusable-component" class="hover:text-blue-200 font-medium">Components</a>
      <a routerLink="/form" class="hover:text-blue-200 font-medium">form</a>
      <a routerLink="/movies" class="hover:text-red-300 font-medium flex items-center gap-1">
        <span>Kinolar</span> 🎬
      </a>
      <a
        routerLink="/cart"
        class="relative flex items-center gap-2 bg-blue-700 px-4 py-2 rounded-lg hover:bg-blue-800 transition"
      >
        <span>savat</span>
        @if (cartService.count() > 0) {
          <span
            class="bg-red-500 text-white text-xs font-bold px-2 py-1 rounded-full absolute -top-2 -right-2 animate-bounce"
          >
            {{ cartService.count() }}
          </span>
        }
      </a>
    </nav>
  </div>
</header>
